
@{
    ViewBag.Title = "Index";
}

@model List<Example.Models.Product>

<h2>Lista de Productos</h2>


<form asp-action="Index" asp-controller="Product">
    <input type="text" name="search" class="form-control" />
    <button class="btn btn-primary" type="submit"> Search</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
            </tr>
        }
    </tbody>
</table>
